@using System.Web.Optimization
@using DBPMobile.Helpers
<!DOCTYPE html>

<html lang="en">
<head>
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta charset="utf-8" />
    <title >@ViewBag.Title</title>

    @Styles.Render("~/css")
</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="text-align: center;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-family: museo-sans;font-size: 12px;font-weight: lighter;text-transform: uppercase;letter-spacing: 4px;margin-top:-10px;" href="/">Dave Brown <br /> Photography</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-family:QuestrialRegular; text-transform:uppercase;">
                    <li>@Html.MenuLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.MenuLink("Fashion I", "DenverFashionPhotographer", "Portfolio", "Fashion")</li>
                            <li>@Html.MenuLink("Fashion II", "DenverFashionPhotographer", "Portfolio", "Fashion2")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Editorial</li>
                            <li>@Html.MenuLink("Firestarter", "DenverFashionPhotographer", "Portfolio", "Editorial/Firestarter")</li>
                            <li>@Html.MenuLink("Star Collector", "DenverFashionPhotographer", "Portfolio", "Editorial/StarCollector")</li>
                            <li>@Html.MenuLink("Wanderlust", "DenverFashionPhotographer", "Portfolio", "Editorial/Wanderlust")</li>
                            <li>@Html.MenuLink("Light Dance", "DenverFashionPhotographer", "Portfolio", "Editorial/LightDance")</li>
                            <li>@Html.MenuLink("Lindsey Vonn", "DenverFashionPhotographer", "Portfolio", "Editorial/LindseyVonn")</li>
                            <li>@Html.MenuLink("Milan", "DenverFashionPhotographer", "Portfolio", "Editorial/MilanOnMyLips")</li>
                            <li>@Html.MenuLink("Can I stay", "DenverFashionPhotographer", "Portfolio", "Editorial/CanIStayAWhile")</li>
                            <li>@Html.MenuLink("Pale Fire", "DenverFashionPhotographer", "Portfolio", "Editorial/PaleFire")</li>
                            <li class="divider"></li>
                            <li>@Html.MenuLink("Portrait", "DenverFashionPhotographer", "Portfolio", "Portraits")</li>
                            <li>@Html.MenuLink("Engagement", "DenverFashionPhotographer", "Portfolio", "Engagement")</li>
                            <li>@Html.MenuLink("Band", "DenverFashionPhotographer", "Portfolio", "Band")</li>
                        </ul>
                    </li>
                    <li>@Html.MenuLink("Contact", "Contact", "Home")</li>
                    <li>@Html.MenuLink("About", "About", "Home")</li>
                    <li>@Html.MenuLink("FAQ", "FAQ", "Home")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    @RenderSection("Carousel", false)
    <div class="container" style="padding:0px 0px 0px 0px;">
        <noscript>
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Please enable JavaScript in your browser!
            </div>
        </noscript>

        <div class="row" style="margin:0px 0px 0px 0px;">
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>

        <div class="row" style="margin:40px 0px 10px 0px;font-family:QuestrialRegular; text-transform:uppercase; font-size: 14px; text-align: center; ">
            <div class="span12">
                <footer id="footer">
                    <a href="http://www.facebook.com/davebrownphotography" target="_blank" rel="external nofollow" style="margin:10px 10px 10px 10px;">
                        <img src="/Content/images/twitter.png" /></a>
                    <a href="http://www.twitter.com/davebrownphotog" target="_blank" rel="external nofollow" style="margin:10px 10px 10px 10px;">
                        <img src="/Content/images/facebook.png" /></a>
                    <a href="http://www.instagram.com/davebrownphotog" target="_blank" rel="external nofollow" style="margin:10px 10px 10px 10px;">
                        <img src="/Content/images/instagram.png" /></a>
                    <br />
                    <br />
                    <p>
                        phone. <span itemprop="telephone"><a href="tel:303-949-6889">303-949-6889</a></span>
                        <br />
                        <br />
                        email. <span itemprop="email"><a href="mailto:info@davebrownphotography.com">info@davebrownphotography.com</a></span>
                        <br />
                        <br />
                        studio. <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">3501 Wazee Street</span>
                            <span itemprop="addressLocality">Denver</span>, 
                                <span itemprop="addressRegion">CO</span>
                            <span itemprop="postalCode">80216</span>
                        </span>
                    </p>
                    <span style="text-transform:none; font-size:10px;">
                        &copy; 2014 Dave Brown Photography
                        <br />
                        All Rights Reserved.
                    </span>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/js")
    @RenderSection("scripts", required: false)
</body>
</html>
